<div class="event-form-container">
  <!-- Pestañas -->
  <ul class="nav custom-tabs mb-3">
    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ active: selectedTab === 'documento' }"
        (click)="selectedTab = 'documento'"
      >
        Documento
      </button>
    </li>

    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ active: selectedTab === 'transacciones' }"
        (click)="selectedTab = 'transacciones'"
      >
        Transacciones
      </button>
    </li>

    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ active: selectedTab === 'pago' }"
        (click)="selectedTab = 'pago'"
      >
        Pago
      </button>
    </li>
  </ul>

  <!-- Contenido de las pestañas -->

  <!-- Doumento -->
  <div *ngIf="selectedTab === 'documento'">
    <app-documento-screen></app-documento-screen>
  </div>

  <!-- Transacciones -->
  <div *ngIf="selectedTab === 'transacciones'">
    <app-transaccion-screen></app-transaccion-screen>
  </div>

  <!-- Pago -->
  <div *ngIf="selectedTab === 'pago'">
    <h4>Pago</h4>
    <p>Contenido de Pago...</p>
  </div>
</div>
