<div class="event-form-container">
  <!-- ===================================================== -->
  <!-- PESTAÑAS -->
  <!-- ===================================================== -->
  <ul class="nav custom-tabs mb-3">
    <!-- DOCUMENTO -->
    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ active: selectedTab === 'documento' }"
        (click)="selectedTab = 'documento'"
      >
        Documento
      </button>
    </li>

    <!-- TRANSACCIONES -->
    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ active: selectedTab === 'transacciones' }"
        (click)="selectedTab = 'transacciones'"
      >
        Transacciones
      </button>
    </li>

    <!-- PAGO -->
    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ active: selectedTab === 'pago' }"
        (click)="selectedTab = 'pago'"
      >
        Pago
      </button>
    </li>
  </ul>

  <!-- ===================================================== -->
  <!-- DOCUMENTO -->
  <!-- ===================================================== -->
  <div [hidden]="selectedTab !== 'documento'">
    <app-documento-screen
      (eventoCreado)="idEventoCreado = $event"
      (clienteCompletoChange)="clienteSeleccionadoData = $event"
    >
    </app-documento-screen>
  </div>

  <!-- ===================================================== -->
  <!-- TRANSACCIONES -->
  <!-- ===================================================== -->
  <div [hidden]="selectedTab !== 'transacciones'">
    <app-transaccion-screen
      [idEvento]="idEventoCreado"
      [cliente]="clienteSeleccionadoData"
    >
    </app-transaccion-screen>
  </div>

  <!-- ===================================================== -->
  <!-- PAGO -->
  <!-- ===================================================== -->
  <div [hidden]="selectedTab !== 'pago'">
    <h4>Pago</h4>

    <p>Contenido de Pago...</p>
  </div>
</div>
