<div class="event-form-container">
  <!-- Pestañas -->
  <ul class="nav custom-tabs mb-3">
    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ 'active': selectedTab === 'documento' }"
        (click)="selectedTab = 'documento'"
      >
        Documento
      </button>
    </li>

    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ 'active': selectedTab === 'transacciones' }"
        (click)="selectedTab = 'transacciones'"
      >
        Transacciones
      </button>
    </li>

    <li class="nav-item">
      <button
        class="nav-link pestañaPersonalizada"
        [ngClass]="{ 'active': selectedTab === 'pago' }"
        (click)="selectedTab = 'pago'"
      >
        Pago
      </button>
    </li>
  </ul>

  <!-- Contenido de las pestañas -->

  <!-- Documento -->
  <div *ngIf="selectedTab === 'documento'">
    <form class="event-form">
      <div class="row mb-4">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Evento no.001</h2>
            <div class="d-flex align-items-center gap-2">
              <select class="form-select">
                <option value="activo" selected>Activo</option>
                <option value="inactivo">Inactivo</option>
              </select>
              <span
                class="material-icons text-success me-2"
                style="font-size: 24px"
                >check_circle</span
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Buscador de clientes -->
      <div class="input-btn-group mb-3">
        <input
          type="text"
          id="cliente"
          class="form-control"
          placeholder="Cliente..."
        />
        <button type="button" class="btn btn-dark" aria-label="Buscar">
          <span class="material-icons">search</span>
        </button>
        <button type="button" class="btn btn-dark" aria-label="Agregar">
          <span class="material-icons">add</span>
        </button>
      </div>

      <!-- Información del evento -->
      <div class="form-group mb-3">
        <label for="tituloEvento">Título Evento</label>
        <input type="text" id="tituloEvento" class="form-control" required />
      </div>

      <div class="form-group mb-3">
        <label for="descripcionEvento">Descripción</label>
        <textarea
          name="comentario"
          id="descripcionEvento"
          rows="5"
          class="form-control"
        ></textarea>
      </div>

      <!-- Fechas -->
      <div class="containerDates">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="fechaEntrega">Fecha Entrega</label>
            <input
              type="datetime-local"
              id="fechaEntrega"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="fechaRecoger">Fecha Recoger</label>
            <input
              type="datetime-local"
              id="fechaRecoger"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="fechaInicio">Fecha Inicio</label>
            <input
              type="datetime-local"
              id="fechaInicio"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="fechaFin">Fecha Fin</label>
            <input
              type="datetime-local"
              id="fechaFin"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>

      <!-- Selectores -->
      <div class="row mt-3">
        <div class="col-md-6 mb-3">
          <label for="ubicacion">Ubicación</label>
          <select class="form-select" id="ubicacion" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option
              *ngFor="let ubicacion of ubicaciones"
              [value]="ubicacion.id"
            >
              ({{ ubicacion.id }}) {{ ubicacion.descripcion }}
            </option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="organizador">Organizador</label>
          <select class="form-select" id="organizador" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option
              *ngFor="let organizador of Organizadores"
              [value]="organizador.id"
            >
              ({{ organizador.id }}) {{ organizador.descripcion }}
            </option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="tipoEvento">Tipo Evento</label>
          <select class="form-select" id="tipoEvento" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option *ngFor="let tEvento of tipoEvento" [value]="tEvento.id">
              ({{ tEvento.id }}) {{ tEvento.descripcion }}
            </option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="capacidadEvento">Capacidad Evento</label>
          <select class="form-select" id="capacidadEvento" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option *ngFor="let capacidad of Capacidades" [value]="capacidad.id">
              <!-- ({{ capacidad.id }})  -->
              {{ capacidad.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="detallesAdicionales">Detalles Adicionales</label>
        <textarea
          id="detallesAdicionales"
          rows="5"
          class="form-control"
        ></textarea>
      </div>

      <button class="btn btn-dark w-100 fw-bold" type="submit">
        GUARDAR EVENTO
      </button>
    </form>
  </div>

  <!-- Transacciones -->
  <div *ngIf="selectedTab === 'transacciones'">
    <h4>Transacciones</h4>
    <p>Contenido de Transacciones...</p>
  </div>

  <!-- Pago -->
  <div *ngIf="selectedTab === 'pago'">
    <h4>Pago</h4>
    <p>Contenido de Pago...</p>
  </div>
</div>
