.event-form-container {
  max-width: 600px;
  margin: 2rem auto;
  background: #f5f5f5;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.event-form-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.Allselect {
  height: 35px;
  border-color: #ececec;
  border-radius: 8px;
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.form-group input,
.form-group textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

 .time-group {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 1rem; /* Espacio entre columnas */
    text-align: center;
  }

  .time-group label {
    margin-bottom: 0.3rem;
    padding: 0px;
     /* Ajusta el margen según sea necesario para textos label en fechas */
    margin: -1vh;
  }
  
button[type="submit"] {
  background: #6200ea;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #4500b5;
}

/* Responsivo */
@media (max-width: 480px) {
  .event-form-container {
    padding: 1rem;
    border-radius: 10px;
  }

  .time-group {
    flex-direction: column;
  }
}
