<div class="event-form-container">
  <form class="event-form">
    <div class="form-group">
        <h2>Evento no.001</h2>
    </div>
    <div class="form-group">
      <label for="title">Título Evento</label>
      <input type="text" id="title" required>
      <label for="title">Descripcion</label>
     <textarea name="comentario" rows="5" cols="50"></textarea>
    </div>

    <!-- <div class="form-group">
      <label for="date">Fecha</label>
      <input type="date" id="date" required>
    </div> -->

    <div class="form-group time-group">
  <label for="start-time">Fecha Entrega</label>
  <label for="end-time">Fecha Recoger</label>
  <input type="datetime-local" id="start-time" required>
  <input type="datetime-local" id="end-time" required>
</div>

<div class="form-group time-group">
  <label for="start-time">Fecha Inicio</label>
  <label for="end-time">Fecha Fin</label>
  <input type="datetime-local" id="start-time" required>
  <input type="datetime-local" id="end-time" required>
</div>

    <div class="form-group">
  <label for="location">Ubicación</label>
  <select class="Allselect" id="location" required>
    <option value="" disabled selected>Selecciona una opción</option>
    <option value="sala1">Sala 1</option>
    <option value="sala2">Sala 2</option>
    <option value="zoom">Zoom</option>
    <option value="teams">Microsoft Teams</option>
  </select>
</div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" rows="4" placeholder="Detalles adicionales..."></textarea>
    </div>

    <button type="submit">Guardar Evento</button>
  </form>
</div>
