<div class="app-container">
  <div class="sidebar">
    <div class="sidebar-profile">
      <div class="logoEmpresa"></div>

       <button class="buttonTheme" (click)="theme.toggleTheme()">
      <span class="material-icons">
        {{ theme.isDarkTheme() ? "dark_mode" : "light_mode" }}
      </span>
    </button>
    </div>

    <ul class="sidebar-menu">
      <li
        *ngFor="let item of menu"
        (click)="selectMenu(item)"
        [class.active]="item.enabled"
      >
        <span class="material-icons">{{ item.icon }}</span>
        {{ item.nombre }}
      </li>
    </ul>

    <div class="sidebar-bottom">
      <li (click)="handleLogout()">
        <span class="material-icons">logout</span>
        Sign Out
      </li>
    </div>
  </div>

  <button class="sidebar-toggle">
    <span class="material-icons mainButton">menu</span>
  </button>

  <div class="main-content">
    <ng-container *ngComponentOutlet="activeComponent"></ng-container>
  </div>
</div>
