<!-- APARTADO DE PANTALLA ESTADO DE CARGA -->
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner-container">
    <div class="spinner"></div>
    <p>Cargando...</p>
  </div>
</div>
<!-- APARTADO DE PANTALLA ESTADO DE CARGA -->

<div *ngIf="!isLoading" class="login-container">
  <div class="login-card">
    <button class="buttonTheme" (click)="theme.toggleTheme()">
      <span class="material-icons">
        {{ theme.isDarkTheme() ? "dark_mode" : "light_mode" }}
      </span>
    </button>

    <div class="logoEmpresa"></div>

    <form>
      <div class="form-group">
        <input
          #userInput
          type="text"
          [(ngModel)]="usuario"
          placeholder="User"
          [ngModelOptions]="{ standalone: true }"
          required
        />
      </div>

      <div class="form-group password-group">
        <button
          tabindex="-1"
          type="button"
          class="eye-button"
          (click)="hidePassword = !hidePassword"
        >
          <span class="material-icons">
            {{ hidePassword ? "visibility_off" : "visibility" }}
          </span>
        </button>

        <input
          [type]="hidePassword ? 'password' : 'text'"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Password"
          required
        />
      </div>

      <button type="submit" (click)="isLogin()" class="login-button">
        LOGIN
      </button>
    </form>
  </div>
</div>
