<h2 mat-dialog-title class="title" [ngClass]="data.tipo">
  <span class="material-symbols-outlined icon">
    {{ data.icon }}
  </span>
  <span class="titulo-texto">{{ data.titulo }}</span>
</h2>



<mat-dialog-content>
  <p class="mensaje-principal">{{ data.mensaje }}</p>

  <div *ngIf="data.detalles && data.detalles.length > 0" class="caja-info">
    <div *ngFor="let item of data.detalles" class="fila">
      <span class="label">{{ item.etiqueta }}:</span>
      <span class="valor">{{ item.valor }}</span>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="acciones">
  <button mat-flat-button class="btn-aceptar" mat-dialog-close>
    Aceptar
  </button>
</mat-dialog-actions>
