/* You can add global styles to this file, and also import other style files */


/* Segmento para colores globales del proyecto */
:root {
  /* Tema claro por defecto */
  --color-fondo: #ffffff;
  --color-fondoSecundario: #dfdede;
  --color-principal: #139b01;
  --color-texto: #1b1b1b;
  --color-secundario: #f2c94c;
}

/* tema obscuro */
body.dark-theme {
  --color-fondo: #444444;
  --color-fondoSecundario: #2c2b2b;
  --color-principal: #FFD700;
  --color-texto: #ffffff;
  --color-secundario: #03dac6;
}

/* fin segmento colores para el proyecto  */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
