/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,500,0,0");

/* Segmento para colores globales del proyecto */
:root {
  /* Tema claro por defecto */
  --color-fondo: #ffffff;
  --color-fondoSecundario: #dfdede;
  --color-principal: #065b32;
  --color-texto: #000000;
  --color-texto-invertido: #ffffff;
  --color-secundario: #e1b244;
  --color-Shadow: #b3b3b3;
  --theme-image-url: url("assets/GoldenGardenLigthTheme.png");
  /* APARTADO COLORES ALERTAS */
  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-warning: #d97706;
}

/* tema obscuro */
body.dark-theme {
  --color-fondo: #202125;
  --color-fondoSecundario: #2b2c2e;
  --color-principal: #e1b244;
  --color-texto: #ffffff;
  --color-texto-invertido: #000000;
  --color-secundario: #065b32;
  --color-Shadow: #535353;
  --theme-image-url: url("assets/GoldenGardenDarckTheme.png"); 
  /* APARTADO COLORES ALERTAS */
  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-warning: #d97706;
}

/* fin segmento colores para el proyecto  */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  color: var(--color-texto);
}

/* Éxito */
.mat-mdc-snack-bar-container.alerta-exito .mdc-snackbar__surface {
  background-color: #4caf50 !important;
  color: #000000 !important;
  font-weight: bold;
}

/* Error */
.mat-mdc-snack-bar-container.alerta-error .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: #000000 !important;
  font-weight: bold;
}
